@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Love+Light&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";


@theme {
  --color-creamy: #FFFAF5;
  --color-tan: #D7BF92;
  --color-blush: #FFC8BD;
  --color-sage: #7F9588;
  --color-olive: #5E5B38;
  --color-darkGreen: #0A2522;
}

html, body {
  overflow-x: hidden;
}
body {
  font-family: "Fauna One", serif;
  margin: 0 auto;
  font-size: 16px;
  /* background:var(--color-creamy); */

  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
 
}

.background{
  background-color: var(--color-creamy);
  background-color: #ffd3b6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23004900' fill-opacity='0.59'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background-color: #ffd3b6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23054002' fill-opacity='0.51' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: 'repeat'; */
  opacity: 9%;
}

/* vision section home page */
.vision{
  padding: 12px, 40px ;
  background-color:var(--color-sage);
  height:fit-content ;
  border-top: 2px var(--color-olive) solid;
  border-bottom: 2px var(--color-olive) solid;
  color: var(--color-creamy);
}
.vision1{
  padding: 12px, 40px ;
  background-color:var(--color-sage);
  height:25rem;
  border-top: 2px var(--color-olive) solid;
  border-bottom: 2px var(--color-olive) solid;
  color: var(--color-creamy);
}
@media (max-width:640px){
  .vision-txt{
    position: relative;
    /* border: 1px solid darkblue; */
    bottom: 20px;
  }
  .quote{
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .vision,
  .vision1{
    /* border: 5px solid red; */
    height:fit-content;
  }
  .quote,
  .quote-cta{
    padding-bottom: .5rem;
    
  }

}
/* section size for galaxy 24 ultra */
@media (max-width: 450px) {
  .vision,
  .vision1{
    /* border: 5px solid aqua; */
    height:fit-content;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .quote,
  .quote-cta{
    padding-bottom: .5rem;
  }

}

  @layer utilities {
    /* Apply styles only between 640px and 1023px */
    @media (min-width: 640px) and (max-width: 1023px) {
      .vision,
      .vision1,
      .product {
       /* border: 3px dotted darkcyan; */
        height: 45rem; /* Adjust as needed */
        
      }
    }
  }

@media (min-width:1024px){
  .vision,
  .vision1{
    /* border: 1px solid aqua; */
    padding-left: 0;
  }
  .quote,
  .quote-cta{
    /* border: 1px solid aqua; */
    font-size: 28px;
  }
  
}
@media (min-width:1280px){
  .vision,
  .vision1{
    /* border: 1px solid salmon; */
    padding-left: 40px;
  }
}

/* quotes */
.vision .quote{
  color:var(--color-darkGreen);
}
.vision1 .quote{
  color:var(--color-darkGreen);
}
.quote,
.quote-cta{
  text-transform: none;

  

}
.vision .header{
  color:var(--color-creamy)
}
.vision1 .header{
  color:var(--color-creamy)
}
.product .header{
  color:var(--color-creamy)
}


/* text-headers */
h1, h2 , h3{
  text-transform: uppercase ;
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: 24px; */
}
body h4{
  text-transform: uppercase ;
  font-family: "Oswald", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* font-size: 24px; */
}
.special{
  text-transform: uppercase ;
  font-family: "Oswald", sans-serif; 
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
  /* font-size: 24px; */
}
html {
  overflow-y: scroll;
}

/* about section */
@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 640px) and (max-width: 1023px) {
    .image {
      width: 500px; /* Example width */
      height: auto; /* Adjust as needed */
      
    }
  }
}


/* cards section */

@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 1024px) and (max-width: 1280px) {
    .card-title{
      font-size: 18px;
      /* padding-bottom: 1.5rem;
      padding-top:1.5rem ;
      border: solid 1px gray;
      display: flex;
      align-items: center; */
    }
  }
}

@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 551px) and (max-width: 1024px) {
    .card-txt{
      font-size:18px;
    }
}
}
/* @media(max-width:1024px) {
  .card-txt{
    font-size:18px;
  }
} */


.card-txt-alt{
  font-size: 15px;
}

/* service cards */
.ser-Border{
  border-top: 1px solid var(--color-olive);
}

/* resources page */

.reads{
  /* border: solid 1px var(--color-blush); */
  /* padding-bottom: .25rem; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.reads-el{
  width:100%; 
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
  /* border: 2px solid fuchsia; */
  /* position: relative;
  bottom: 5rem; */
}

.reads-title{
  padding-bottom: 1rem;
}
.partner-title{
  padding-bottom: 0;
}

/* contact page */
.cont-section{
  
}

/* privacy page */
/* .privacy */

/* offer-digital product */
.product{
    padding: 12px, 12px ;
    background-color:var(--color-sage);
    height:30rem;
    border-top: 1.5px var(--color-olive) solid;
    border-bottom: 1.5px var(--color-olive) solid;
    color: var(--color-creamy);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span{

    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
    color:var(--color-blush);
    opacity: 10;
}

/* .pattern-bg {
  @apply bg-pattern bg-patternbg bg-repeat p-10;
} */
 /* arrows on resources page */
 .slick-prev::before,
.slick-next::before {
  display: none !important;
}