@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Love+Light&family=Oswald&display=swap');
@import "tailwindcss";


@theme {
  --color-creamy: #FFFAF5;
  --color-tan: #D7BF92;
  --color-blush: #FFC8BD;
  --color-sage: #7F9588;
  --color-olive: #5E5B38;
  --color-darkGreen: #0A2522;
}

html, body {
  overflow-x: hidden;
}
body {
  font-family: "Fauna One", serif;
  margin: 0 auto;
  font-size: 16px;
  background:var(--color-creamy);
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
 
}

/* vision section home page */
.vision{
  padding: 12px, 40px ;
  background-color:var(--color-sage);
  height:fit-content ;
  border-top: 2px var(--color-olive) solid;
  border-bottom: 2px var(--color-olive) solid;
  color: var(--color-creamy);
}
.vision1{
  padding: 12px, 40px ;
  background-color:var(--color-sage);
  height:25rem;
  border-top: 2px var(--color-olive) solid;
  border-bottom: 2px var(--color-olive) solid;
  color: var(--color-creamy);
}
@media (max-width:640px){
  .vision-txt{
    position: relative;
    /* border: 1px solid darkblue; */
    bottom: 20px;
  }
  .quote{
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .vision,
  .vision1{
    /* border: 5px solid red; */
    height:fit-content;
  }
  .quote,
  .quote-cta{
    padding-bottom: .5rem;
    
  }

}
/* section size for galaxy 24 ultra */
@media (max-width: 450px) {
  .vision,
  .vision1{
    /* border: 5px solid aqua; */
    height:fit-content;
    padding-bottom: 30px;
    padding-top: 0;
  }
  .quote,
  .quote-cta{
    padding-bottom: .5rem;
  }

}

  @layer utilities {
    /* Apply styles only between 640px and 1023px */
    @media (min-width: 640px) and (max-width: 1023px) {
      .vision,
      .vision1,
      .product {
       /* border: 3px dotted darkcyan; */
        height: 45rem; /* Adjust as needed */
        
      }
    }
  }

@media (min-width:1024px){
  .vision,
  .vision1{
    /* border: 1px solid aqua; */
    padding-left: 0;
  }
  .quote,
  .quote-cta{
    /* border: 1px solid aqua; */
    font-size: 28px;
  }
  
}
@media (min-width:1280px){
  .vision,
  .vision1{
    /* border: 1px solid salmon; */
    padding-left: 40px;
  }
}

/* quotes */
.vision .quote{
  color:var(--color-darkGreen);
}
.vision1 .quote{
  color:var(--color-darkGreen);
}
.quote,
.quote-cta{
  text-transform: none;

  

}
.vision .header{
  color:var(--color-creamy)
}
.vision1 .header{
  color:var(--color-creamy)
}
.product .header{
  color:var(--color-creamy)
}


/* text-headers */
h1, h2 , h3{
  text-transform: uppercase ;
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: 24px; */
}
html {
  overflow-y: scroll;
}

/* about section */
@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 640px) and (max-width: 1023px) {
    .image {
      width: 500px; /* Example width */
      height: auto; /* Adjust as needed */
      
    }
  }
}


/* cards section */

@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 1024px) and (max-width: 1280px) {
    .card-title{
      font-size: 18px;
      /* padding-bottom: 1.5rem;
      padding-top:1.5rem ;
      border: solid 1px gray;
      display: flex;
      align-items: center; */
    }
  }
}

@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 551px) and (max-width: 1024px) {
    .card-txt{
      font-size:18px;
    }
}
}
/* @media(max-width:1024px) {
  .card-txt{
    font-size:18px;
  }
} */


.card-txt-alt{
  font-size: 15px;
}

/* service cards */
.ser-Border{
  border-top: 1px solid var(--color-olive);
}

/* resources page */

.reads{
  /* border: solid 1px var(--color-blush); */
  /* padding-bottom: .25rem; */
  align-items: center;
  
}
.reads-el{
  width:100%; 
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
  /* border: 2px solid fuchsia; */
  /* position: relative;
  bottom: 5rem; */
}

.reads-title{
  padding-bottom: 1rem;
}
.partner-title{
  padding-bottom: 0;
}

/* contact page */
.cont-section{
  
}

/* privacy page */
/* .privacy */

/* offer-digital product */
.product{
    padding: 12px, 12px ;
    background-color:var(--color-sage);
    height:30rem;
    border-top: 1.5px var(--color-olive) solid;
    border-bottom: 1.5px var(--color-olive) solid;
    color: var(--color-creamy);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span{

    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
    color:var(--color-blush)
}
