@import "tailwindcss";

@theme {
  --color-creamy: #FFFAF5;
  --color-tan: #D7BF92;
  --color-blush: #FFC8BD;
  --color-sage: #7F9588;
  --color-olive: #5E5B38;
  --color-darkGreen: #0A2522;
}
body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  background:var(--color-creamy);
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
 
}

/* vision section home page */
.vision{
  padding: ;
  background-color:var(--color-sage);
  height:25rem ;
  border-top: 1.5px var(--color-olive) solid;
  border-bottom: 1.5px var(--color-olive) solid;
  color: var(--color-creamy);
}
@media (max-width:640px){
  .vision-txt{
    position: relative;
    border: 1px solid darkblue;
    bottom: 20px;
  }
  .quote{
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .vision{
    /* border: 5px solid red; */
    height:35rem;
  }
  .quote{
    padding-bottom: 1rem;
  }

}
@media (max-width: 340px) {
  .vision{
    border: 5px solid aqua;
    height:35rem;
  }
  .quote{
    padding-bottom: 1rem;
  }

}

  @layer utilities {
    /* Apply styles only between 640px and 1023px */
    @media (min-width: 640px) and (max-width: 1023px) {
      .vision {
       border: 3px dotted darkcyan;
        height: 45rem; /* Adjust as needed */
        
      }
    }
  }

@media (min-width:1024px){
  .vision{
    /* border: 1px solid aqua; */
    padding-left: 0;
  }
  .quote{
    /* border: 1px solid aqua; */
    font-size: 28px;
  }
  
}
@media (min-width:1280px){
  .vision{
    /* border: 1px solid salmon; */
    padding-left: 40px;
  }
}

/* quotes */
.vision .quote{
  color:var(--color-darkGreen);
}
.quote{
  text-transform: none;
  

}
.vision .header{
  color:var(--color-creamy)
}


/* text-headers */
h1, h2 , h3{
  text-transform: uppercase ;
}
html {
  overflow-y: scroll;
}

/* about section */
@layer utilities {
  /* Apply styles only between 640px and 1023px */
  @media (min-width: 640px) and (max-width: 1023px) {
    .image {
      width: 500px; /* Example width */
      height: auto; /* Adjust as needed */
      
    }
  }
}